@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

body,footer{
    font-family: 'Crete Round', serif;
}
.display-8{
    font-size: 25px;
}
.space{
    margin-left: 10px;
}
.line::after{
    margin-left: 10px;
    content: "|";
}
.line1::after{
    margin-left: 20px;
    content: "|";
}
._text{
    font-size: 30px;
}
.second-container{
    margin-top: 20px;
}
.img{
    margin-top: 50px;
    /* background-image: rgb(rgb(0, 0, 0), 0.4); */
    height: 700px;
}
.banner-text{
    
    color: white;
    margin-bottom: 50px;
}
#service > .row{
    margin-top: 100px ;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid white;
}
.image-size{
    height: 300px;
    background-color: rgba(255, 255, 29, 0.1);
    position: relative;
    
}
.overlay-dark {
    background-color: rgba(black, 0.4);
}
.img-text{
    font-size: 40px;
    margin-bottom: 100px;
    color: white;
}
.form-in{
    margin-bottom: 20px;
}
footer {
    
    margin-top: 100px;
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
  }
  .align-item{
      margin-bottom: 30px;
  }
  .align{
      margin-right: 10px;
  }
  footer a {
    color: #999;
    text-decoration:none;
  }
  
  .inside{
      margin-top: 70px;
  }
  .bade{
      margin-left: 10px;
      padding: 5px;
      position: relative;
        bottom: 15px;
      /* margin-bottom: 50/px; */
      /* height: 20px; */
  }
  footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      margin-bottom: 10px;
      margin-right: 50px;
      padding: 0.7em 1em;
  }
  

.wrong::after{
    font-family: FontAwesome;
    content: "\f00d NA";
    font-size: 20px;
    color: red;

}
.align-t{
    margin-bottom: 400px;
}

.align-b{
    position: relative;
    bottom: 340px;
}